.layoutWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-gray-200); 
}

.contentArea {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.mainContent {
  padding: 32px;
  flex: 1;
  overflow-y: auto; 
}