.sidebarContainer {
  width: 260px;
  height: 100vh;
  background-color: var(--color-primary-500);
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  color: var(--color-gray-50);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
  transition: width 0.3s ease; /* ESTA ES LA MAGIA: Animación de encogerse */
  overflow-x: hidden; /* Evita que el texto salga por los lados mientras se anima */
  white-space: nowrap; /* Evita que el texto se parta en dos líneas */
}

/* Modificador cuando está colapsada */
.collapsed {
  width: 80px; 
  padding: 24px 12px; 
}

/* Cabecera */
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 40px;
  padding: 0 4px;
}

.collapsed .logoContainer {
  flex-direction: column;
  gap: 24px;
  padding: 8px 0;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 32px;
  height: 32px;
}

.logoText {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Botón de minimizar barra */
.toggleBtn {
  background: transparent;
  border: none;
  color: var(--color-gray-50);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;
}

.toggleBtn:hover {
  background-color: var(--color-primary-600);
}

/* Contenedor principal*/
.navMenu {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Diseño de un enlace normal */
.navLink {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  color: var(--color-gray-50);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.2s ease;
  overflow: hidden; 
}

.collapsed .navLink {
  justify-content: center;
  padding: 12px;
  width: 44px; 
  height: 44px;
  margin: 0 auto; 
}

.icon {
  flex-shrink: 0; 
}

.navLink:not(.activeLink):hover {
  background-color: var(--color-primary-600); 
}

/* Diseño EXCLUSIVO para el enlace de la página actual */
.activeLink {
  background-color: var(--color-secondary-200); 
  color: var(--color-secondary-600); 
}

.activeLink:hover {
  background-color: var(--color-secondary-300); 
}

/* Estilo para los botones que despliegan menús */
.navButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  justify-content: space-between; 
}

.navButtonLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.collapsed .navButtonLeft {
  justify-content: center;
}

/* Contenedor del submenú */
.subMenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 36px; 
  margin-top: 4px;
  margin-bottom: 8px;
}

.subNavLink {
  padding: 8px 12px;
  color: var(--color-primary-100);
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.2s ease;
}

.subNavLink:not(.activeLink):hover {
  background-color: var(--color-primary-600);
  color: white;
}

/* Contenedor inferior */
.bottomMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 1px solid var(--color-primary-100);
  padding-top: 16px;
}