.chartContainer {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
  width: 100%;
}

.chartHeader {
  background-color: var(--color-primary-500);
  color: white;
  padding: 12px 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.chartBody {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* --- Leyenda y Año --- */
.controlsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.legendGroup {
  display: flex;
  flex: 1;
  gap: 16px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--color-gray-800);
  font-weight: 500;
}

.dotIncome {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-primary-400);
}

.dotExpense {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-danger-300);
}

.menuIcon {
  color: var(--color-gray-400);
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* --- Gráfico --- */
.chartWrapper {
  height: 350px;
  width: 100%;
  margin-top: 16px;
}

/* ------ RESPONSIVE ------ */
@media (max-width: 1024px) {
  .legendItem {
    font-size: 12px;
    gap: 4px;
  }

  .dotIncome,
  .dotExpense {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 768px) {
  .chartBody {
    padding: 16px;
    gap: 20px;
  }

  .controlsRow {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .legendGroup {
    flex: 1 1 100%;
    justify-content: center;
    margin-bottom: 8px;
  }

  .legendItem {
    gap: 8px;
    font-size: 14px;
  }


  .menuIcon {
    flex: 0 0 auto;
  }

  .chartWrapper {
    height: 300px;
    margin-top: 0;
  }
}