.selectorWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-gray-600);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.selectorWrapper:hover {
  background-color: var(--color-gray-100);
  color: var(--color-primary-500);
}

.hiddenInput {
  display: none;
}

/* ------ RESPONSIVE ------ */
@media (max-width: 1024px) {
  .selectorWrapper {
    font-size: 11px;
    gap: 4px; 
    padding: 2px 4px;
  }
}

@media (max-width: 768px) {
  .selectorWrapper {
    font-size: 13px;
    gap: 6px;
  }
}